include:
  - docker-compose.dev.yml
services:
  hydra-setup:
    image: ghcr.io/canonical/hydra:25.4.0
    depends_on:
      - hydra
    restart: on-failure
    volumes:
      - type: bind
        source: ./docker/hydra
        target: /etc/config/hydra
    command: exec hydra create client --endpoint http://hydra:4445 --id ${SAML_PROVIDER_OIDC_CLIENT_ID:-service-bridge-client} --secret ${SAML_PROVIDER_OIDC_CLIENT_SECRET:-secret} --grant-type authorization_code,refresh_token --response-type code,id_token --scope openid,email,profile --redirect-uri ${SAML_PROVIDER_BRIDGE_BASE_URL:-http://localhost:8082}/callback
    networks:
      - intranet
    labels:
      - "traefik.enable=false"
  saml-provider:
    build:
      context: ./provider
    ports:
      - "8082:8082"
    environment:
      - SAML_PROVIDER_BRIDGE_BASE_PORT=${SAML_PROVIDER_BRIDGE_BASE_PORT:-8082}
      - SAML_PROVIDER_BRIDGE_BASE_URL=${SAML_PROVIDER_BRIDGE_BASE_URL:-http://localhost:8082}
      - SAML_PROVIDER_HYDRA_PUBLIC_URL=${SAML_PROVIDER_HYDRA_PUBLIC_URL:-http://hydra:4444}
      - SAML_PROVIDER_OIDC_CLIENT_ID=${SAML_PROVIDER_OIDC_CLIENT_ID:-service-bridge-client}
      - SAML_PROVIDER_OIDC_CLIENT_SECRET=${SAML_PROVIDER_OIDC_CLIENT_SECRET:-secret}
      - SAML_PROVIDER_SERVICE_ACS=${SAML_PROVIDER_SERVICE_ACS:-http://localhost:8083/saml/acs}
      - SAML_PROVIDER_SERVICE_ENTITY_ID=${SAML_PROVIDER_SERVICE_ENTITY_ID:-http://localhost:8083/saml/metadata}
    depends_on:
      - hydra
      - hydra-setup
    networks:
      - intranet
    restart: on-failure
  saml-service:
    build:
      context: ./service
    ports:
      - "8083:8083"
    environment:
      - IDP_METADATA_URL=${IDP_METADATA_URL:-http://saml-provider:8082/saml/metadata}
    depends_on:
      - saml-provider
    networks:
      - intranet
    restart: on-failure
